.sidebar {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: $bp-large) {
    justify-content: end;
    align-items: center;
  }

  /* grid layout page */
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  @media screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .nav-btn {
    position: fixed;
    border: none;
    border-radius: 0;
    background-color: #ffffff;
    height: 0.2rem;
    width: 4.5rem;
    margin-top: 4rem;

    @media screen and (max-width: $bp-large) {
      position: initial;
      margin-top: 0;
      margin-right: 3rem;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: #ffffff;
      height: 0.2rem;
      width: 4.5rem;
    }

    &::before {
      transform: translateY(-1.5rem);
    }
    &::after {
      transform: translateY(1.3rem);
    }
  }
}
